:root{
  --primary: rgb(250, 250, 250);
  --secondary: rgb(30, 30, 30);
  --tertiary: rgb(241, 241, 241);
  --yellow: rgb(246, 202, 69);
  --yellow_transparent: rgba(246, 202, 69, 0.715);
  --accent: rgb(31, 154, 216);
  --accent_red: rgb(229, 79, 78);
}

body {
  font-family: Inter, sans-serif;
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  
}

h2 {
  color: black;
  font-size: 300%;
}
h3 {
  color: var(--accent);
  font-size: 200%;
}

.floaterLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: fixed;
  top: 5%;
  right: 5%;
}
.floaterLogo img{
  height: 10vh;
}
#progressBar{
  position: fixed;
  top: 5%;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 10vw;
  background-color: none;
  border-radius: 20px;
}
#progressBar img{
  width: 70%;
}
#floaterScroll{
  position: fixed;
  bottom: 2vw;
  left: 48%;
  width: 6vw;
  height: 4vw;
  background-color: var(--yellow_transparent);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#floaterScroll img{
  width: 100%;
  margin-left:-5%;
  margin-top: -5%;
}
.title{
  margin-top: 40%;
  scroll-snap-align: center;
  text-align: center;
}
.title img{
  width: 10%;
}
.title h1{
  /*color: rgb(246, 202, 69);*/
  font-size: 500%;
  color: var(--accent);
}
.title p{
  color: rgb(134, 134, 134);
  font-size: 200%;
}
section{
  scroll-snap-align: center;
  margin-top: 50vh;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 50vh;
  padding: 2vw 2vw;
  border-radius: 8px;
  background-color: var(--tertiary);
  text-align: center;
  align-items: flex;
}
section p{
  color: rgb(34, 34, 34);
  font-size: 100%;
  background-color: rgb(254, 254, 254);
  border-radius: 8px;
  padding: 8px 8px;
}

section input, section select {
  width: 80%;
  font-size: 150%;
  color: rgb(0, 0, 0);
  padding: .375rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}


.submitButton{
  scroll-snap-align: center;
  margin-top: 0vh;
  margin-left: 40vw;
  margin-right: 40vw;
  margin-bottom: 50vh;
  border-radius: 5px;
  padding: 2%;
  width: 20vw;
  font-size: 200%;
  background-color: var(--accent);
  color: whitesmoke;
  border: 2px solid;
  cursor: pointer;
}
.submitButton:hover{
  background-color: var(--yellow);
  box-shadow: 0px 0px 10px var(--yellow);
  color: var(--secondary);
}
footer {
  display: none;
  /*scroll-snap-align: center;*/
  height: 30vh;
  background-color: rgb(156, 156, 156);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer a {
  color: whitesmoke;
  font-size: large;
  font-weight: bold;
}
footer > *:hover{
  text-decoration: underline;
  text-decoration-color: var(--accent);
  cursor: pointer;
}
@media screen and (orientation:portrait) {
  section{
    margin-right: 10%;
    margin-left: 10%;
  }
}

/* #outputSection {
  display: none;
  background-color: rgb(246, 202, 69);
}
#outputSection p{
  background-color: azure;
  border-radius: 5px;
  padding: 20px 20px;
}
#outputSection input{
  background-color: azure;
  border-radius: 5px;
  padding: 20px 20px;
} */

#thesisSection{
  display: none;
}
#thesisSection h3{
  color: var(--accent);
}

#pointsSection{
  display: none;
}
#pointsSection h3{
  color: var(--accent);
}

#outlineSection{
  display: none;
}
#outlineSection h3{
  color: var(--accent);
}

#thesisText{
  display: none;
  text-align: center;
}
#outlineText{
  display: none;
  text-align: left;
}
#pointsText{
  display: none;
  text-align: left;
}

.dropdown {
  position: relative;
}

.menu {
  position: absolute;

  list-style-type: none;
  width: 20%;
  margin-left: 40%;
  padding: 0;

  border: 1px solid grey;
}

.menu > li {
  margin: 0;

  background-color: white;
}

.menu > li:hover {
  background-color: lightgray;
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.dropdown-select-button{
  width: 100%;
  height: 100%;
  margin-left: 40%;
  text-align: left;
  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  font: inherit;
  cursor: pointer;
}

.noneButton{
  width: 10%;
  height: 10%;
  background: var(--primary);
  color: inherit;
  border: 1px solid var(--secondary);
  border-radius: 4px 4px;
  padding: 5px;
  font: inherit;
  cursor: pointer;
  margin-left: 15px;
}
