body {
  font-family: Inter, sans-serif;
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

h2 {
  color: black;
  font-size: 250%;
}
h3 {
  color: rgb(229, 79, 78);
  font-size: 150%;
}

.floaterLogo {
  position: fixed;
  top: 5%;
  right: 5%;
}
.floaterLogo img{
  height: 10vh;
}
.floaterScroll {
  position: fixed;
  bottom: 5%;
  left: 44%;
}
.floaterScroll img{
  width: 12vw;
}
.title{
  margin-top: 40%;
  scroll-snap-align: center;
  text-align: center;
}
.title h1{
  /*color: rgb(246, 202, 69);*/
  font-size: 500%;
  color: rgb(229, 78, 77);
}
.title p{
  color: rgb(134, 134, 134);
  font-size: 200%;
}
section{
  scroll-snap-align: center;
  margin-top: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 50%;
  padding: 40px 40px;
  border-radius: 4px;
  background-color: rgb(246, 202, 69);
  background-color: rgb(220, 220, 220);
  text-align: center;
  align-items: flex;
}
section p{
  color: rgb(34, 34, 34);
}
section input{
  width: 80%;
  font-size: 100%;
}